/* ContestCreation.module.css */
.container {
    display: flex;
    flex-direction: column;
  }
  
  .heading {
    margin-bottom: 20px;
    color: #ffffff;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .textarea {
    width: 100%;
    padding: 10px;
    background-color: #1e1e1e;
    border: 1px solid #444444;
    border-radius: 5px;
    font-size: 14px;
    color: #ffffff;
  }
  