.statsSummary {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 10px;
}

.statItem {
    display: flex;
    align-items: center;
    margin-bottom: 8px; /* Space between items */
}

.icon {
    margin-right: 8px; /* Space between the icon and the text */
    width: 18px; /* Set the width of the icons */
    height: 18px; /* Set the height of the icons */
}

.text {
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 27px; /* 150% */
    background: var(--green-serenity, linear-gradient(180deg, #01710C 0%, #54627B 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
