/* ParticipantManagement.module.css */

.container {
  padding: 20px;
  color: #e8eaf6;
  position: relative; /* Ensure that the dropdown is positioned relative to this container */
}

.contestHeader {
  position: relative;
  display: inline-block; /* Make it an inline-block element */
  margin-bottom: 20px;
}

.heading {
  font-size: 24px;
  font-weight: 600;
  display: flex;
  align-items: center;
  cursor: pointer; /* Make the heading clickable */
  user-select: none; /* Prevent text selection on double click */
  white-space: nowrap; /* Prevent the text from wrapping */ 
}

.dropdownArrow {
  margin-left: 10px;
  transition: transform 0.3s ease;
}

.dropdownArrow.open {
  transform: rotate(180deg);
}

.dropdownList {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #2c2c2e;
  border-radius: 5px;
  list-style: none;
  padding: 0;
  margin: 5px 0 0 0; /* Add some spacing from the header */
  z-index: 10;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  max-height: 200px;
  overflow-y: auto;
  min-width: max-content; /* Ensure the dropdown is wide enough for its content */
}

.dropdownItem {
  padding: 10px 15px;
  color: #e8eaf6;
  cursor: pointer;
}

.dropdownItem:hover {
  background-color: #37373d;
}

.dropdownItem.selected {
  background-color: #4a4a52;
  font-weight: 500;
}

.tableContainer {
  margin-top: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.table th,
.table td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #424242;
}

.table th {
  background-color: #2c2c2e;
  color: #e8eaf6;
  font-size: 14px;
}

.table td {
  background-color: #1c1c1e;
  color: #e8eaf6;
}

.status {
  padding: 5px 10px;
  border-radius: 12px;
  text-transform: capitalize;
}

.active {
  background-color: #2ecc71;
  color: #fff;
}

.inactive {
  background-color: #e74c3c;
  color: #fff;
}

.toggleButton {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s;
}

.toggleButton:hover {
  background-color: #2980b9;
}

.noParticipants {
  color: #e8eaf6;
  font-style: italic;
  margin-top: 20px;
}

/* ParticipantManagement.module.css */

.loadMoreButton {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s;
}

.loadMoreButton:hover {
  background-color: #2980b9;
}
