/* styles.css */
.registrationScreen {
    height: 100vh; 
    justify-content: center;
    align-items: center;
  }
  
  .registrationHeader {
    position: sticky; /* Header sticks to the top */
    top: 0;
  }

  .screenContent {
    padding-top: 64px;
    flex: 1;
    flex-direction: column;
    gap: 32px;
  }
  
  
  .registrationForm {
    margin-top: 32px; /* Specific override for RegistrationForm */
  } 
  