.eliminatedScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    overflow-x: hidden;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 48px;
}

.textWithIcon {
    display: flex;
    align-items: center;
    font-size: 24px;  
}

.eliminatedText {
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-weight: 600;
    background: linear-gradient(167deg, #710117 29.79%, #54627B 90.89%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.xIcon {
    font-size: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 12px;  
    background: linear-gradient(167deg, #710117 29.79%, #54627B 90.89%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    width: 43px;  
    height: 43px;
}

