/* OverviewContent.module.css */

.container {
  padding: 20px;
  color: #E8EAF6;
  background-color: #1C1C1E;
  border-radius: 8px;
}

.heading {
  text-align: center;
  margin-bottom: 30px;
  font-size: 2em;
  color: #E8EAF6; 
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

/* Base card styling */
.card {
  padding: 20px;
  width: 250px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5); 
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.2s;
  color: #E8EAF6; /* White text color */
}

.card:hover {
  transform: translateY(-5px);
}

.iconContainer {
  margin-bottom: 15px;
  border-radius: 50%;
  padding: 10px;
}

.icon {
  width: 40px;
  height: 40px;
}

.cardTitle {
  font-size: 1.2em;
  margin-bottom: 10px;
  text-align: center;
}

.cardValue {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}

/* Styles for different cards */
.card:nth-child(1) { /* First Card - Keep the blue */
  background-color: #2C2C2E; 
  border-left: 5px solid #2980b9; 
  .icon { color: #2980b9; }
  .cardValue { color: #2980b9; }
}

.card:nth-child(2) { /* Second Card - Warm Orange */
  background-color: #2C2C2E; 
  border-left: 5px solid #e67e22; 
  .icon { color: #e67e22; }
  .cardValue { color: #e67e22; }
}

.card:nth-child(3) { /* Third Card - Cool Teal */
  background-color: #2C2C2E; 
  border-left: 5px solid #16a085;
  .icon { color: #16a085; }
  .cardValue { color: #16a085; }
}


.loading,
.error {
  text-align: center;
  font-size: 1.2em;
  margin-top: 50px;
  color: #E8EAF6; 
}

.error {
  color: #FF5733;
}

/* src/components/OverviewContent/OverviewContent.module.css */

.adminControls {
  margin-top: 20px;
  text-align: center;
}

.toggleButton {
  background-color: #3182ce; /* Blue color */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.toggleButton:hover {
  background-color: #2c5282; /* Darker blue on hover */
}

.open {
  background-color: blue;
}

.close {
  background-color: red;
}