.container {
    padding: 20px;
    color: #e8eaf6;
  }
  
  .heading {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  
  .questionNavigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .arrowButton {
    background: none;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .arrowButton:hover {
    transform: scale(1.1);
  }
  
  .icon {
    width: 24px;
    height: 24px;
  }
  
  .blueArrow {
    color: #3498db; /* Blue color for arrows */
  }
  
  .questionText {
    flex-grow: 1;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
  
  .answer {
    background-color: #1c1c1e;
    padding: 15px;
    border: 1px solid #424242;
    border-radius: 5px;
  }
  
  .answerHeader {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .participantList {
    margin-top: 10px;
    padding-left: 10px;
  }
  
  .participant {
    display: block;
    margin-bottom: 5px;
  }
  
  .pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }
  
  .pageButton {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    transition: background-color 0.3s;
  }
  
  .pageButton:disabled {
    background-color: #7f8c8d;
    cursor: not-allowed;
  }
  