.header {
    position: sticky; /* Key change */
    top: 0;
    z-index: 1000; /* Ensure it stays above other content */
    display: flex; 
    height: 64px; 
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5); 
    flex-direction: row; 
    align-items: flex-end; 
    justify-content: space-between; 
    padding: 0 32px;
    box-sizing: border-box; 
    gap: 4px; 
  }
  

.userName {
    font-size: 12px;
    color: var(--sernity);
    font-weight: medium;
}

.icons {
    display: flex;
    flex-direction: 'row';
    align-items: center;
    gap: 8px;
    font-size: var(--font-size-xs);
    color: var(--sernity);
    font-weight: medium;
}