.header {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1000;
    align-self: stretch;
    display: flex;
    height: 64px;
    background-color: rgba(255, 255, 255, 0.5);
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0 31px;
    box-sizing: border-box;
    gap: 4px;
}

.userName {
    font-size: 12px;
    color: var(--sernity);
    font-weight: medium;
}

.icon {
    display: flex;
    flex-direction: 'row';
    align-items: center;
    gap: 8px;
    font-size: var(--font-size-mini);
    color: var(--sernity);
    font-weight: medium;
}