.joinContestsScreen {
    height: 100vh; 
    justify-content: center;
    align-items: center;
}

.pregameHeader {
    width: 100%;
}

.screenContent {
    display: flex;
    padding-top: 40px;
    flex: 1;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
  }

  .contestList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .contestHeader {
  color: var(--Monkey, #675A4A);
  text-align: center;

  /* H1 */
  font-family: Poppins;
  font-size: 44px;
  font-style: normal;
  font-weight: 600;
  line-height: 0px;
  }