/* src/screens/Admin/AdminScreen.module.css */
.adminContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #121212; /* Dark background */
    color: #fff; /* White text */
  }
  
  .contentArea {
    flex: 1;
    overflow-y: auto;
  }
  